font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body{
	background-image: url(img/moroccan-flower-dark.png);
	background-repeat: no-repeat;
	background-size: cover;
	font: 16px/28px arial, sans-serief;
	background-color:  #eaeaea;
	color: #333;
}

.container {
	width: 800px;
	margin: auto;
	background-color: #fff;
}
.header{
	padding: 20px;
}

.header .judul{
	font-size: 40px;
	font-weight: bold;
	margin-left: 40px;
	margin-top: auto;
}
.header ul li{
	display:  inline-block;
	margin-top: 20px;
	margin-right: 10px
}

.header a{
	text-decoration: none;
	color: salmon;
	padding: 3px;
}
.header a:hover {
	background-color: lightskyblue;
	color: white;
}
.hero{
	height: 800px;
	background-image: url(img/cw.png);
	background-size: cover;
	background-position: 0 -20px;
	border-top:  5px solid red;
	border-bottom: 5px solid lightskyblue;

}
.musik{
	margin-left: 37%;
}
.audio{
	margin-left: 30%;
}
.content{
	padding: 20px;
}

.content h2 {
	font-size: 28px;
	font-weight: bold;
	margin-left: 28px;

}
.content .penulis{
	font-size: 11px;
	margin-top:  -5px;

}

.content .penulis a {
	color: salmon;
	text-decoration: none;
}
.content p{
	margin: 20px;
	font-size: 14px;
}
.footer{
	background-color: #333;
	padding: 10px;
}
 .footer .copy {
 	color: #eaeaea;
 	text-align: center;
 	font-size: 12px;
 }